@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}
@font-face {
  font-family: 'Tafel Sans';
  src: url('/fonts/tafel-sans-bold.woff2') format('woff2'),
       url('/fonts/tafel-sans-bold.woff') format('woff'),
       url('/fonts/tafel-sans-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.font-tafel {
  font-family: 'Tafel Sans', sans-serif;
  font-weight: bold;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
